---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title::before {
	content: url("/assets/stugr_logo_100px.png");
	display: inline-block;
	position: relative;
    vertical-align: middle;
    top: 5px;
}

a {
    color: #dd6012;
}

a:visited, a:hover {
    color: #c64000;
}

#headshot {
    border: 1px solid;
}

.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 15px;
}
.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.border {
    border: 1px solid;
}
.post-content img:not(.emoji) {
    margin: 8px auto;
    display: block;
}
//caption
img + em {
    display: block;
    text-align: center;
}